In [0]:
import pandas as pd

In [0]:
data=pd.read_csv("bdmarriage.csv",sep=",")

In [112]:
data

            id    service adresse    type  prix
0   salleriahi  sallefete  ariana  ouvert  2000
1   sallemonta  sallefete  ariana   ferme  1500
2   sallehamma  sallefete   tunis  ouvert  2500
3  sallenessma  sallefete   tunis   ferme  1700
4   groupriahi  animation  ariana   bande   400
5   groupmonta  animation   tunis   bande   600
6        hamma  animation  ariana   danse   400
7       nassim  animation  ariana      dj   550

In [0]:
liste = ["1=   b<2500         ",
         "2=   2500<b<2700    ",
         "3=   2700<b         "
         ]

In [114]:
print (liste)

['1=   b<2500         ', '2=   2500<b<2700    ', '3=   2700<b         ']

In [115]:
print("Vous voulez une salle de fete ? oui/non")
x = input()
if x=="oui" :
    print("merci de choisir le lieu parmis ces entrees:ariana,tunis,mannouba")
    adressesalle=input()
    print("merci de choisir le type : ouvert/ferme")
    typesalle=input()

print("Voulez vous une animation ? oui/non")
y = input()
if y=="oui" :
    print("merci de choisir le genre d'animation:bande,dj,danse")
    adresseanimation=input()

print("Quel est votre budget?  merci d'entrer 1 , 2 ou 3")
print(liste)
z=input()

Vous voulez une salle de fete ? oui/non
oui
merci de choisir le lieu parmis ces entrees:ariana,tunis,mannouba
ariana
merci de choisir le type : ouvert/ferme
ouvert
Voulez vous une animation ? oui/non
oui
merci de choisir le genre d'animation:bande,dj,danse
bande
Quel est votre budget?  merci d'entrer 1 , 2 ou 3
['1=   b<2500         ', '2=   2500<b<2700    ', '3=   2700<b         ']
1

In [0]:
df1=pd.DataFrame()
df2=pd.DataFrame()
if x=="oui":
  df1=data.loc[(data["service"] == 'sallefete')&(data["adresse"] == adressesalle)&(data["type"] == typesalle)]

if y=="oui":
  df2=data.loc[(data["service"] == "animation")&(data["type"]== adresseanimation)]

In [138]:
z

'1'

In [126]:
df1

           id    service adresse    type  prix
0  salleriahi  sallefete  ariana  ouvert  2000

In [127]:
df2

           id    service adresse   type  prix
4  groupriahi  animation  ariana  bande   400
5  groupmonta  animation   tunis  bande   600

In [0]:
L=[]
l=[]
for i in range(0,len(df1)):
  ch1=df1.iloc[i] 
  for j in range(0,len(df2)):
    ch2=df2.iloc[j]
    b=ch1["prix"]+ch2["prix"]
    if z=="1":
      if b<2500:
        l.append(ch1)
        l.append(ch2)
        L.append(l)
        l=[]
    if z=="2":
      if b<2700:

        l.append(ch1)
        l.append(ch2)
        L.append(l)
        l=[]
    if z=="3":

      l.append(ch1)
      l.append(ch2)
      L.append(l)
      l=[]

In [146]:
L

[[id         salleriahi
  service     sallefete
  adresse        ariana
  type           ouvert
  prix             2000
  Name: 0, dtype: object, id         groupriahi
  service     animation
  adresse        ariana
  type            bande
  prix              400
  Name: 4, dtype: object]]